.arrivals {
  @include setContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;

  &__headline {
    font-size: 48px;
    height: 256px;
    line-height: 256px;

    @media screen and (max-width: 1350px) {
      font-size: 3vw;
      line-height: 20vw;
      height: 20vw;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
      line-height: 180px;
      height: 180px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1350px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 768px) {
      justify-content: space-evenly;
    }
  }

  &__item {
    height: auto;
    margin-bottom: 30px;
    padding: 0;

    @media screen and (max-width: 1350px) {
      margin: 15px;
    } 

    @media screen and (max-width: 768px) {
      width: 43%;
      margin: 0 0 30px 0;
    } 
  }

  &__img {
    @media screen and (max-width: 768px) {
      max-width: 100%;
      max-height: 100%;
    } 
  }

  &__info-cnt {
    margin-top: 18px;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  &__info {
    @include setFont(13px, 500);
    margin-bottom: 10px;

    &--distinction {
      @include setFont(10px, 900);
    }

    &--hidden {
      display: none;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 5px;
    } 
  }

  &__icon {
    margin-right: 10px;    
  }

  &__button {
    width: 136px;
    height: 48px;
    margin-top: 15px;
    border: 2px solid $main-dark;
    text-align: center;
    line-height: 48px;
    @include setFont(13px, 500);
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $main-light;
    }
  }
}
