.footer {
  width: 100%;

  &__cnt {
    @include setContainer;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $main-semi-light;

    @media screen and (max-width: 1350px) {
      width: 90%;
    }
  }

  &__main-section {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__media {
    flex: 1;

    @media screen and (max-width: 1350px) {
      width: 100%;
    }
  }

  &__media-icon {
    margin-right: 30px;
  } 

  &__policy {
    display: flex;
    justify-content: center;
    flex: 1;

    @media screen and (max-width: 1200px) {
      margin: 25px 0px;
    }

    @media screen and (max-width: 576px) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &-item {
      margin: 0 22px;
      @include setFont(13px, 700);
      color: $main-dark;
      border-bottom: 1px solid transparent;

      @media screen and (max-width: 1350px) {
        margin: 0 10px;
      }

      @media screen and (max-width: 768px) {
        margin: 0 5px;
        font-size: 12px;
      }

      @media screen and (max-width: 576px) {
        margin: 0;
      }

      &:hover {
        text-decoration: none;
        color: $main-dark;
        border-bottom: 1px solid $main-dark;
      }
    }
  }

  &__nationality {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;

    @media screen and (max-width: 576px) {
      width: 100%;
      justify-content: space-between;
    }

    &-label {
      @include setFont(13px, 500);
      margin-bottom: 0;
    }

    &-select {
      @include setFont(13px, 700);
    }
  }

  &__bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__rights {
    margin: 0;
    @include setFont(14px, 500);

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
