.header {
  background-color: $main-semi-light;
  height: 550px;
  width: 100%;
}

.nav-container {
  max-width: 1300px;
  height: 90px; 
  margin: 0 auto;
  display: flex;

  &__links {
    color: $main-dark;
  }

  &__icons {
    img {
      margin: 0 5px;
    }

    p {
      width: 16px;
      height: 16px;
      text-align: center;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 0;
      color: $main-light;
      background-color: $main-dark;
      border-radius: 50%;
    }
  }
}
