.themes {
  width: 100%;

  &__cnt {
    @include setContainer;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows:repeat(10, 50px);
    row-gap: 5px;
    column-gap: 5px;
    grid-auto-flow: dense;
 
    @media screen and (max-width: 1350px) {
      width: 90%;
    } 

    @media screen and (max-width: 1100px) {
      grid-template-rows:repeat(10, 40px);
    } 

    @media screen and (max-width: 900px) {
      grid-template-rows:repeat(10, 30px);
    }
    
    @media screen and (max-width: 700px) {
      grid-auto-rows: auto;
    }

    @media screen and (max-width: 500px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__element {
    position: relative;
    overflow: hidden;

    &--big {
      @include gridSpan(8, 10);

      @media screen and (max-width: 700px) {
        @include gridSpan(20, 6);
      }  
    }

    &--long {
      @include gridSpan(12, 5);

      @media screen and (max-width: 700px) {
        @include gridSpan(20, 6);  
      }
    }

    &--normal {
      @include gridSpan(6, 5);

      @media screen and (max-width: 700px) {
        @include gridSpan(10, 8);    
      }
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__info {
    position: absolute;
    width: 50%;
    top: 15px;
    left: 15px;
    background-color: rgba(200, 200, 200, 0.9);
    box-shadow: 0 0 5px 5px $main-semi-dark;

    padding: 5px;
    border-radius: 15px 0 0 0;

    @media screen and (max-width: 992px) {
      top: 15px;
      left: 15px;   
    }
  }
  
  &__title {
    @include setFont(24px, 500);
    color: $main-dark;

    @media screen and (max-width: 1350px) {
      @include setFont(18px, 500);      
    }

    @media screen and (max-width: 992px) {
      @include setFont(16px, 700);   
    }
  }

  &__link {
    @include setFont(13px, 500);
    line-height: 17px;
    color: $main-dark;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $main-dark;
      text-decoration: none;
      color: $main-dark;
    }
  }
}
